<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <!-- Header & Cards -->
    <div class="relative pt-8 pb-12 sm:pt-16 sm:pb-16 px-6 sm:px-12 overflow-hidden">
        <!-- Header -->
        <div class="flex flex-col items-center">
            <h2 class="text-xl font-semibold">Get Remix Contract Details</h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                {{loading}}
            </div>

        </div>

    </div>

</div>
